[Desktop Entry]
Name=XMonad
Comment=Lightweight tiling window manager
#Exec=xmonad-session
Exec=.xmonad/xmonad-session-rc
Icon=xmonad.png
Type=XSession
